<div class="col">
    <h1 class="text-center">Cập nhật sản phẩm</h1>
    <div class="col-12">
        <div class="form-group my-2">
            <label for="" class="form-label">Tên sản phẩm</label>
            <input class="form-control" type="text" name="" id="" ng-model="data.name">
        </div>
        <div class="form-group" class="form-label my-2">
            <label for="">Gía sản phẩm</label>
            <input class="form-control" type="text" name="" id="" ng-model="data.price">
        </div>
        <div class="form-group" class="form-label my-2">
            <label for="">Ảnh sản phẩm</label>
            <input class="form-control" type="file" name="" id="" ng-model="data.image">
        </div>
        <div class="form-group my-2">
            <button class="btn btn-primary mr-2" ng-click="update()">Thêm mới</button>
            <a href="#!/list-sp" class="btn btn-warning">Quay lại</a>
        </div>
    </div>
</div>