<div class="col px-5">
    <h1 class="text-center">Thêm mới sản phẩm</h1>
    <div class="col-12">
        <div class="form-group my-2">
            <label for="name" class="form-label">Tên sản phẩm</label>
            <input class="form-control" type="text" name="name" id="name" ng-model="data.name">
            <span class="text-danger" ng-show="validate.name">Không được để trống</span>
        </div>
        <div class="form-group" class="form-label my-2">
            <label for="price">Gía sản phẩm</label>
            <input class="form-control" type="text" name="price" id="price" ng-model="data.price">
            <span class="text-danger" ng-show="validate.price">Không được để trống</span>
        </div>
        <div class="d-flex p-5 justify-content-between">
            <div class="form-group col-3">
                <label for="image">Ảnh sản phẩm</label>
                <input class="form-control" onchange="uploadImage(event)" type="text" name="image" id="image" ng-model="data.image" accept="image/*">
                <span class="text-danger" ng-show="validate.image">Không được để trống</span>
            </div>
            <div class="form-group col-4">
                <img src="" alt="" id="previewImage" style="max-width: 100%; max-height: 200px;">
            </div>
        </div>

        <div class="form-group" class="form-label my-2">
            <label for="quantity">Số lượng sản phẩm</label>
            <input class="form-control" type="number" name="quantity" id="quantity" ng-model="data.quantity">
            <span class="text-danger" ng-show="validate.quantity">Không được để trống</span>
        </div>
        <div class="form-group" class="form-label my-2">
            <label for="description">Mô tả sản phẩm</label>
            <textarea class="form-control" name="description" id="description" cols="30" rows="10"
                ng-model="data.description"></textarea>
            <span class="text-danger" ng-show="validate.description">Không được để trống</span>
        </div>
        <div class="form-group my-3">
            <button class="btn btn-primary mr-2" ng-click="add()">Thêm mới</button>
            <a href="#!/product/list" class="btn btn-warning">Quay lại</a>
        </div>
    </div>
</div>