<footer id="footer" style="margin-top: 50px;">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <a class="navbar-brand" href="#" id="logo"><img src="/lib/images/logo.png" alt="" width="30px"
                            style="margin-bottom: 10px; margin-right: 10px;">Autosmart</a>
                    <p>
                        <strong>Điện thoại:</strong> +00000000000000 <br>
                        <strong>Email:</strong> autosmart@gmail.com <br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Liên kết</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#!/home">Trang chủ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#!/products">Sản phẩm</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#!/about">Giới thiệu</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#!/contact">Liên hệ</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Quần áo</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Điện thoại</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Laptop</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Máy ảnh DSLR</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Máy tính bảng</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Mạng xã hội của chúng tôi</h4>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>